version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: task-backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "5367:5367"
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build:
      context: ./frontend
    container_name: task-frontend
    restart: always
    depends_on:
      - backend
    env_file:
      - ./frontend/.env
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
